*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: #777;
    height: 100px;
    width: 100%;
}

#empresa{
    background-color: #FFF;
    height: 800px;
    width: 100%;
}
#produtos{
    background-color: #D7D7D7;
    height: 800px;
    width: 100%;
}
#contato{
    background-color: #FFF;
    height: 800px;
    width: 100%;
    padding: 0 30px;
}
fieldset{
    padding: 40px;
}