@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Freckle+Face&display=swap');

h1{
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h2{
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}

section h1{
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}